/* Basic Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    color: #ff6347;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #000, #333);
    padding: 0 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation: fadeIn 3s ease-in-out;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff6347;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    animation: fadeIn 4s ease-in-out;
}

.btn:hover {
    background-color: #ff4500;
}

section {
    padding: 80px 20px;
    text-align: center;
}


#about, #skills, #projects, #contact {
    background: #1c1c1c;
    border-bottom: 1px solid #333;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff6347;
}

ul {
    list-style: none;
    padding: 0;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

.project:hover {
    transform: scale(1.05);
    background-color: #444;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.project h3 {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}